<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.ItemMapper">
    <resultMap id="BaseResultMap" type="org.sang.bean.Item">
        <id column="itemid" property="itemid"/>
        <result column="productid" property="productid"/>
        <result column="productname" property="productname"/>
        <result column="itemcount" property="itemcount"/>
        <result column="orderid" property="orderid"/>
    </resultMap>
    <select id="findAllItem" resultMap="BaseResultMap">
        select itemid,productid,productname,itemcount,orderid from t_item
    </select>
    <update id="updateItem">
        update t_item
        <set>
            <if test="item.productid != null">
                productid = #{item.productid,jdbcType=BIGINT},
            </if>
            <if test="item.itemcount != null">
                itemcount = #{item.itemcount,jdbcType=BIGINT},
            </if>
            <if test="item.productname != null">
                productname = #{item.productname,jdbcType=VARCHAR},
            </if>
            <if test="item.orderid != null">
                orderid = #{item.orderid,jdbcType=BIGINT},
            </if>
        </set>
        where itemid = #{item.itemid,jdbcType=BIGINT}
    </update>
    <delete id="deleteItem">
        DELETE FROM t_item WHERE itemid =#{itemid,jdbcType=BIGINT}
    </delete>
    <insert id="insertItem">
        insert into t_item (productid, productname,
        itemcount, orderid)
        values
        (
            #{item.productid,jdbcType=BIGINT}, #{item.itemcount,jdbcType=BIGINT},
            #{item.productname,jdbcType=VARCHAR}, #{item.orderid}
        )
    </insert>
    <select id="findOneItem" resultMap="BaseResultMap">
        select itemid,productid,productname,itemcount,orderid from t_item where itemid = #{itemid,jdbcType=BIGINT}
    </select>
    
    <select id="findItemByOrderid" resultMap="BaseResultMap">
        select itemid,productid,productname,itemcount,orderid from t_item where orderid = #{orderid,jdbcType=BIGINT}
    </select>
</mapper>